.App {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 60px;
  padding: 30px 30px 40px 30px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todo-item {
  display:inline-flex;
  align-self: stretch;
  flex: 1;
}

.todo-item-container {
  display: flex;
  padding-top: 10px;
}

.todo-item-left {
  flex: 1;
}

.todo-item-right {
  flex: 0;
  margin-left: auto;
}

.todo-text-padding-left {
  padding-left: 10px;
}

.center-text {
  text-align: center;
}
